@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

body
{
  background: #fbc531;
}

.title
{
  color: #40739e;
  font-size: 100px;
  position: absolute;
  top: 140px;
  left: 550px;
  font-weight: bold;
  font-family: 'Righteous', cursive;
}

.desc
{
  color: #40739e;
  font-size: 30px;
  position: absolute;
  top: 340px;
  left: 562px;
  font-weight: bold;
  font-family: 'Righteous', cursive;
}
